body {
    text-align: center;
}

header {
    background-color: #FFFFFF;
    height: 280px;
    margin: -10px;
    margin-top: -100px;
    padding-top: 100px;
    
}

.even-field {
    background-color: #3C89FF;
    height: 400px;
    margin: -10px;
    margin-top: -30px;
    padding-top: 50px;
}

.odd-field {
    background-color: #DCFF63;
    height: 400px;
    margin: -10px;
    margin-top: -30px;
    padding-top: 50px;
}

#resume {
    height: 800px;
}

.something {
    max-width: 25%;
    float: left;
    padding: 4%;
    margin-top: -45px;
}

#header {
    background-color: #FFFFFF;
}
.is-sticky #header {
    background-color: #FFFFFF;
}

/* nav bar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
    display: inline-block;
}

li {
    float: left;
}

li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #DDD;
}



