@font-face { font-family: Ailerons; src:url('../fonts/Ailerons-Typeface.otf'); } 

body {
    text-align: center;
}

header {
    background-color: #FFFFFF;
    color: black;
    height: 400px;
    margin-top: -100px;
    padding-top: 100px; 
}

body {
    width: 80%;
    margin-left: 10%;
    font-family: 'Josefin Sans', sans-serif;
}
h2 {
    font-family: Ailerons, serif;
    font-size: 2em;
}

#top {
    font-size: 2em;
    font-family: Ailerons, serif;
    padding-top: 50px;
}

#about {
  background-color: #96CEB4;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;  
  height: 400px;
  margin-top: -120px;
  padding-top: 50px;

}

#contact {
    bottom: 0;
    background-color: #96CEB4;
    height: 400px;
    margin-top: -20px;
    padding-top: 50px;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}


.odd-field {
    background-color: #FF8069;
    height: 400px;
    margin-top: -30px;
    padding-top: 50px;
}

#resume {
    height: 200px;
}

.about-section {
    max-width: 250px;
    min-width: 250px;
    min-height: 100px;
    display:inline-block;    
    padding: 50px 30px;
    margin-top: -45px;
}

#header {
    background-color: #FFFFFF;
}
.is-sticky #header {
    background-color: #FFFFFF;
}

/* nav bar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
    display: inline-block;
}

li {
    float: left;
}

li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #DDD;
}


.social {
    background-color: #96CEB4; 
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    margin: 50px 15px 0px 15px;
}

.email {
    background-color: #96CEB4; 
    border: none;
    color: white;
}

a .social:visited {
    color: white;
}

#download-resume {
    border-color: #96CEB4;
    background-color: transparent;
    border: solid;
    color: #fff;
    padding: 15px 30px;
    font-size: 16px;
    margin: 25px 0px 50px 0px;
}





